{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.10"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".ts"],
        "root": ["./src"]
      }
    ]
  ]
}
