version: '3'
services:
  prisma:
    image: prismagraphql/prisma:1.28.0
    restart: always
    ports:
      - '4469:4469'
    environment:
      PRISMA_CONFIG: |
        port: 4469
        databases:
          default:
            connector: postgres
            host: postgres
            port: 5432
            user: prisma
            password: prisma
            migrations: true
  postgres:
    image: postgres:10.5
    restart: always
    environment:
      POSTGRES_USER: prisma
      POSTGRES_PASSWORD: prisma
    volumes:
      - postgres:/var/lib/postgresql/data
volumes:
  postgres:
